
<div class="container">
  <div class="row header">
      <div class="col-md-12">
        <h2>ICE AND FIRE</h2>
      </div>
  </div>
  <div class="row">
    
    <div class="myimage col-md-4 col-sm-4 col-xs-12">
        <img src="assets/images/characters.jpg">
        <p>Characters</p>
    </div>
    <div class="myimage col-md-4 col-sm-4 col-xs-4">
        <img src="assets/images/house.jpg">
        <p>Houses</p>
    </div>
    <div class="myimage col-md-4 col-sm-4 col-xs-4">
        <img src="assets/images/books.jpg">
         <p>Books</p>
    </div>
  </div>
  <div class="col-md-12 col-sm-12">
        <a [routerLink]="['/home']">View ALL</a>    
   </div>
 
</div>

<br/>
<br/>
<router-outlet></router-outlet>